<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hsbookshop</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password"></property>
  <property name="hibernate.connection.characterEncoding">UTF-8</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <mapping resource="com/bean/Manager.hbm.xml"/>
   <mapping resource="com/bean/Book.hbm.xml"/>
  <mapping resource="com/bean/kind.hbm.xml"/>
  <mapping resource="com/bean/Address.hbm.xml"/>
  <mapping resource="com/bean/Orders.hbm.xml"/>
   <mapping resource="com/bean/User.hbm.xml"/>
   <mapping resource="com/bean/Shopcur.hbm.xml"/>
   <mapping resource="com/bean/Hotbook.hbm.xml"/>
   <mapping resource="com/bean/Newbook.hbm.xml"/>
 </session-factory>
</hibernate-configuration>